
/* ==========================================================================
   customer styles
   ========================================================================== */



@media only screen {
	.emerald {
		background: #82bb54
	}
	.alizarin {
		background: #c60f13
	}	
	.emerald-color {
		color: #82bb54
	}
	.alizarin-color {
		color: #c60f13
	}	
	
	.filegroup-list li {
		list-style: none;
		
	}
   .imageitem.left.media-image,
   .imageitem.right.media-image {
		float:none;
   	    
	}
	.event-description-element {
		display:none;
	}
	
} /* Define mobile styles */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

@media only screen and (min-width: 40.063em) {  /* min-width 641px, medium screens */

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4; }

  h1 {
    font-size: 2.75rem; }

  h2 {
    font-size: 2.3125rem; }

  h3 {
    font-size: 1.6875rem; }

  h4 {
    font-size: 1.4375rem; }

  h5 {
    font-size: 1.125rem; }

  h6 {
    font-size: 1rem; } 
}  	
  	

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

@media only screen and (min-width: 64.063em) {
   .imageitem.left.media-image {
   	    float:left;
		max-width: 300px;
   }
   .imageitem.right.media-image {
   	    float:right;
		max-width: 300px;
   }
	
	.contribution-columns {
  		-moz-column-count: 2;
   		-webkit-column-count: 2;
    	-moz-column-gap: 30px;
    	column-count: 2;
	}	

} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */